.section {
  background: linear-gradient(
    135deg,
    rgba(47, 79, 148, 0.13) 0%,
    rgba(237, 173, 66, 0.2) 100%
  );
}

.section > div > div {
  margin-top: var(--space-4);
  display: grid;
  gap: var(--space-3);
}

.section > div > div p {
  margin: 0;
  font-weight: 600;
}
